<h1>Add user</h1>
<form name="adduser" method="POST" action="/user/adduser">
    <li><strong>ID </strong> <input type="text" name="id"> </li>
    <li><strong>First Name </strong > <input type="text" name="first"></li>
    <input type="submit" class="btn btn-default" value="enter">
</form>